<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:white">
    <!-- <h1></h1> -->
    {% for i in products %}
        <h1>{{ i.title }}</h1>,
        <h2>{{ i.price }}</h2>

        <img src="/media/{{i.image}}" alt="image, mutherfucker", style="width: 400px; height: 200;">
    {% endfor %}

</body>
</html>